html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: darkblue;
    color: white;
    overflow: auto;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #222;
    color: white;
    padding: 15px 40px;
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
}

.navbar li {
    margin-left: 20px;
}

a {
    text-decoration: none;
    color: white;
}

.navbar a:hover {
    color: #0077ff;
}

.hero {
    text-align: center;
    padding: 60px;
    background: #0077ff;
    color: white;
}

.btn {
    text-decoration: none;
    background-color: white;
    color: #0077ff;
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    border-radius: 15px;
}

section {
    text-align: center;
    padding: 40px;
}

.skills ul {
    list-style: none;
    padding: 0;
}

.skills li {
    display: inline-block;
    margin: 10px;
    background: #eee;
    padding: 10px 15px;
    border-radius: 5px;
    color: blue;

}

.skills li:hover {
    transform: scale(1.05);
}

.projects-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.project-card {
    width: 250px;
    background: #dfd7d7;
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s;
    color: blue;
}

.project-card:hover {
    transform: scale(1.05);
}

#contact {
    background-color: black;
}

.about {
    text-align: center;
}

.common-box {
    display: inline-block;
    margin: 20px auto;
    background-color: white;
    color: black;
    padding: 25px;
    border-radius: 10px;
    width: 70%;
}

.skills {
    text-align: center;
}



.projects {
    text-align: center;
}

/* MOBILE DEVICES */
@media (max-width: 768px) {

    body {
        overflow: auto;
        text-align: center;
    }
     
    /* Navbar */
    .navbar {
        flex-direction: column;
        align-items: center;
        padding: 10px 20px;
    }

    .navbar ul {
        flex-direction: column;
        width: 100%;
        align-items: center;
        padding: 0;
    }

    .navbar li {
        align-items: center;
        margin: 10px 0;
    }

    /* Hero Section */
    .hero {
        padding: 40px 20px;
    }

    .hero h1 {
        font-size: 26px;
    }

    .hero p {
        font-size: 14px;
    }

    /* Sections */
    section {
        padding: 20px;
    }

    /* Common Box */
    .common-box {
        width: 92%;
        padding: 20px;
    }

    /* Skills */
    .skills li {
        display: block;
        margin: 10px auto;
        width: fit-content;
    }

    /* Projects */
    .projects-container {
        flex-direction: column;
        align-items: center;
    }

    .project-card {
        width: 75%;
    }

    /* Contact */
    #contact {
        padding: 20px;
        text-align: center;
        width: 90%;
    }
}
